Robert Rothenberg <rrwo@cpan.org> <github@rrwo.uk.eu.org>
Stig Palmquist <stigtsp@cpan.org> <stig@stig.io>
Andy Armstrong <andy@hexten.net> <andy.armstrong@messagesystems.com>
Brian Gottreu <gottreu@cpan.org> <gottreu@gmail.com>